<section class="p-user-profile-password">
  <div class="container">
    <div class="row">
      <div class="col-md-3-c col-md-3 col-sm-3 col-12">
        <div class="left-nevigation">
          <ul>
            <li><a routerLink="/user/profile">Profile</a></li>
            <li class="active"><a routerLink="/user/password">Change Password</a></li>
            <li><a routerLink="/user/email">Change Email</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-9-c col-md-9 col-sm-9 col-12">
        <div class="heading-edit">
          <h2>Profile</h2>
        </div>
        <form (ngSubmit)='changePassword()' [formGroup]="changePasswordForm">
          <h3 class="subheading-panel">Change Password</h3>
            <div class="row">
              <div class="col-md-6 col-sm-12 col-12">
                <div>
                  <ng-template #oldPasswordPopContent>
                    <div class='blackStd' *ngIf='form.oldPassword.errors && form.oldPassword.errors.required'>Password
                      is required
                    </div>

                    <div class='blackStd' *ngIf='isOldPasswordIncorrect'> Your old Password is incorrect</div>

                  </ng-template>

                  <label class="secondary-field-label">Old Password</label>
                  <input [attr.type]="showOldPassword ? 'text' : 'password'" class="type-pass secondary-field"
                         formControlName="oldPassword" (input)="checkOldPassword()"
                         #popoverOldPassword="ngbPopover" triggers="manual"
                         (focus)="popoverOldPassword.open()"
                         (blur)="popoverOldPassword.close()"
                         [ngbPopover]="oldPasswordPopContent"
                         [autoClose]="false" placeholder="Password" required>

                  <i (click)="showOldPassword=!showOldPassword" class="fa fa-eye pull-right"
                  [style.opacity]="showOldPassword ? 1 : 0.1"></i>

                  </div>
                <div class="mt-4">
                    <label class="secondary-field-label">New Password</label>
                    <input [attr.type]="showNewPassword ? 'text' : 'password'" class="type-pass secondary-field"
                           formControlName="password" (input)="checkOldAndNewPasswords()"
                           #popoverPassword="ngbPopover" triggers="manual"
                           (focus)="popoverPassword.open()"
                           (blur)="popoverPassword.close()"
                           [ngbPopover]="passwordPopContent"
                           [ngClass]="oldAndNewEqual ? 'newClass' : '' "
                           [autoClose]="false" placeholder="New Password" required>

                    <i (click)="showNewPassword=!showNewPassword" class="fa fa-eye pull-right"
                    [style.opacity]="showNewPassword ? 1 : 0.1"></i>

                    <ng-template #passwordPopContent>
                      <div class='blackStd' *ngIf='!form.password.errors && oldAndNewEqual'>Old and New password cannot
                        be the same.
                      </div>
                      <div class='blackStd' *ngIf='form.password.errors && form.password.errors.required'>Password is
                        Required
                      </div>

                      <div class='blackStd' *ngIf='form.password.errors && !form.password.errors.required'>Password
                        Requires:
                      </div>

                      <div class='blackStd' *ngIf='form.password.errors && form.password.errors.hasUpperCase'>1 letter
                        in
                        uppercase
                      </div>
                      <div class='blackStd' *ngIf='form.password.errors && form.password.errors.hasNonalphas'>1 special
                        character or number
                      </div>
                      <div class='blackStd' *ngIf='form.password.errors && form.password.errors.isLongEnough'>6
                        characters
                        minimum
                      </div>
                    </ng-template>

              </div>
                <div class="mt-4">
                    <label class="secondary-field-label">Confirm Password</label>
                    <input [attr.type]="showVerifyPassword ? 'text' : 'password'" formControlName="confirmPassword"
                           #popoverCnfPassword="ngbPopover" [autoClose]="false" triggers="manual"
                           (focus)="popoverCnfPassword.open()" (blur)="popoverCnfPassword.close()"
                           [ngClass]="oldAndNewEqual ? 'newClass' : '' "
                           [ngbPopover]="confirmPasswordPopContent" class="type-pass secondary-field"
                           placeholder="Verify New Password">
                    <i (click)="showVerifyPassword=!showVerifyPassword" class="fa fa-eye pull-right"
                    [style.opacity]="showVerifyPassword ? 1 : 0.1"></i>

                    <ng-template #confirmPasswordPopContent>
                      <div class='blackStd' *ngIf='form.confirmPassword.errors && form.confirmPassword.errors.required'>
                        Confirm Password is Required
                      </div>
                      <div class='blackStd' *ngIf='!form.confirmPassword.errors && oldAndNewEqual'>Old and New password cannot
                        be the same.</div>
                      <div class='blackStd'
                           *ngIf='form.confirmPassword.errors && form.confirmPassword.errors.confirmPassword'>New and
                        Confirm Password fields must match
                      </div>
                    </ng-template>

                </div>
              </div>
            </div>

            <div class="mt-4">
              <button class="button-primary-sec text-uppercase" type='submit'
                      [disabled]='changePasswordForm.invalid || isOldPasswordIncorrect || oldAndNewEqual'>Change
                Password
              </button>
            </div>
          <div class="clearfix"></div>

          <ngx-smart-modal #changePasswordMessage identifier="changePasswordMessage" class="changePasswordMessage"
                           [dismissable]="false" [closable]="false">
            <div class="modal-header">
              <div class='span_11_of_12 font2 heading4 centered modal-title'>Success!</div>
              <div class="close_button">
                <a (click)="changePasswordMessage.close()">
                  <i class="fa fa-close"></i>
                </a>
              </div>
            </div>
            <div class="modal-body">
              Your password has been successfully changed!
            </div>
          </ngx-smart-modal>
        </form>
      </div>
    </div>

  </div>
  <div class="clearfix"></div>
</section>
